*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

#navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.nav-item {
    list-style: none;
}

#side-menu {
    background-color: black;
    color: white;
}

.sidDiv {
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.names {
    letter-spacing: 1px;
}

.subNames {
    color: rgba(255, 255, 255, 0.5);
}

.defImg {
    border-radius: 50%;
}

.text {
    color: white;  
    transition: all 200ms linear;
}

.text:hover {
    color: #1DA1F2;
}

#bacBtn {
    color: #1DA1F2;
    font-weight: bold;
}

#botDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    z-index: 100;
    border-top: 1px solid rgba(255, 255, 255, 0.75);
}

.msgDiv {
    display: flex;
}

.msgPro {
    border-radius: 50%;
}

.msgHead {
    display: flex;
    align-items: center;
}

.msgSubnames {
    color: rgba(255, 255, 255, 0.5);
}

.msgIcons {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.msgIcon {
    font-weight: 500;
    transition: all 200ms linear;
}

.msgIcon:hover {
    color: #1DA1F2;
}

#trend-div {
    background-color: black;
}

.trdNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.trdItem {
    list-style: none;
}


#trdInput {
    outline: none;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border: hidden;
    border-radius: 1.5rem;
    padding: 0.75rem;
    font-size: 1rem;
}

#trdInput:focus {
    color: #1DA1F2;
}




@media all and (max-width: 767px) {
    #home-page {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }

    #navbar {
        padding-bottom: 0.5rem;
    }

    #side-menu {
        width: 100%;
        right: 100%;
        top: 0;
        height: 100vh;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        position: fixed;
        animation: closeMenu 200ms linear;
    }

    #header {
        display: none;
    }

    #headTab {
        display: none;
    }

    @keyframes closeMenu {
        0% {right: 0;}
        50% {right: 50%;}
        100% {right: 100%;}
    }

    #side-menu.openMenu {
        z-index: 100;
        right: 0;
        animation: showMenu 200ms linear;
    }

    @keyframes showMenu {
        0% {right: 100%;}
        50% {right: 50%;}
        100% {right: 0;}
    }

    .defImg {
        width: 2rem;
        height: 2rem;
    }

    .names {
        font-size: 1rem;
        margin: 0.5rem 0 0.25rem 0;
    } 

    .subNames {
        font-size: 1rem;
        margin: 0.25rem 0 2rem 0;
    }

    #textTab {
        display: none;
    }

    .text {
        font-size: 1.2rem; 
        margin: 2rem 0;
    }

    #bacHome {
        background-color: rgb(0, 0, 0);
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem 1rem 1rem 2rem;
        height: 100vh;
        font-size: 2rem;
        display: flex;
        align-items: flex-end;
    }

    #botDiv {
        padding: 1rem;
    }

    #botDiv.closeBot {
        z-index: 0;
    }

    .botIcon {
        font-size: 1.5rem;
    }

    .botIcon:hover {
        color: #1DA1F2;
    }

    #msgMenu {
        margin-top: 2rem;
    }

    .msgDiv {
        gap: 0.5rem;
    }

    .msgPro {
        width: 2.5rem;
        height: 2.5rem;
    }

    .msgHead {
        gap: 0.15rem;
    }

    .msgNames {
        font-size: 1rem;
    }
    
    .msgSubnames {
        font-size: 1rem;
    }

    .msgText {
        font-size: 0.8rem;
        margin: 0.25rem 0 1rem 0;
    }

    .msgIcon {
        font-size: 2rem;
    }

    #trend-div {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
    }
    
    #trend-div.openTrend {
        left: 0;
    }
}






@media all and (min-width: 768px) and (max-width: 1023px) {
    #home-page {
        padding: 2rem 1rem 1rem 1rem;
    }

    #navbar {
        padding-bottom: 1rem;
    }

    #side-menu {
        width: 100%;
        right: 100%;
        top: 0;
        height: 100vh;
        padding: 2rem 1rem 1rem 1rem;
        position: fixed;
        animation: closeMenu 200ms linear;
    }

    #header {
        display: none;
    }

    #headTab {
        display: none;
    }

    @keyframes closeMenu {
        0% {right: 0;}
        50% {right: 50%;}
        100% {right: 100%;}
    }

    #side-menu.openMenu {
        z-index: 100;
        right: 0;
        animation: showMenu 200ms linear;
    }

    @keyframes showMenu {
        0% {right: 100%;}
        50% {right: 50%;}
        100% {right: 0;}
    }

    .defImg {
        width: 5rem;
        height: 5rem;
    }

    .names {
        font-size: 2rem;
        margin: 1rem 0 0.5rem 0;
    } 

    .subNames {
        font-size: 1.5rem;
        margin: 1rem 0 3rem 0;
    }

    #textTab {
        display: none;
    }

    .text {
        font-size: 2rem; 
        margin: 3rem 0;
    }

    #bacHome {
        background-color: rgb(0, 0, 0);
        position: absolute;
        right: 0;
        top: 0;
        padding: 1.5rem 1.5rem 1.5rem 3rem;
        height: 100vh;
        font-size: 4rem;
        display: flex;
        align-items: flex-end;
    }

    #botDiv {
        padding: 2rem;
    }

    #botDiv.closeBot {
        z-index: 0;
    }

    .botIcon {
        font-size: 2.5rem;
    }

    .botIcon:hover {
        color: #1DA1F2;
    }

    #msgMenu {
        margin-top: 3rem;
    }

    .msgDiv {
        gap: 1rem;
    }

    .msgPro {
        width: 4.5rem;
        height: 4.5rem;
    }

    .msgHead {
        gap: 0.5rem;
    }

    .msgNames {
        font-size: 1.75rem;
    }
    
    .msgSubnames {
        font-size: 1.75rem;
    }

    .msgText {
        font-size: 1.5rem;
        margin: 0.5rem 0 1.5rem 0;
    }

    .msgIcon {
        font-size: 3rem;
    }

    #trend-div {
        padding: 1rem;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
    }
    
    #trend-div.openTrend {
        left: 0;
    }
}






@media all and (min-width: 1024px) {
    #home-page {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    #navbar {
        padding-bottom: 1rem;
    }

    .defImg {
        display: none;
    }

    #sideIcon {
        display: none;
    }

    #bacHome {
        display: none;
    }

    body {
        display: grid;
        grid-template-columns: 25% 45% 30%;
    }

    #side-menu {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    #header {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: block;
    }

    .names {
        font-size: 1rem;
        margin: 0.5rem 0 0.25rem 0;
    } 

    .subNames {
        font-size: 1rem;
        margin: 0.5rem 0 1.5rem 0;
    }

    .text {
        font-size: 1.2rem; 
        margin: 1.5rem 0;
    }

    #headTab {
        font-size: 1.5rem;
    }

    #botDiv {
        display: none;
    }

    #msgMenu {
        margin-top: 2rem;
    }

    .msgDiv {
        gap: 0.75rem;
    }

    .msgPro {
        width: 2.5rem;
        height: 2.5rem;
    }

    .msgHead {
        gap: 0.15rem;
    }

    .msgNames {
        font-size: 1.2rem;
    }
    
    .msgSubnames {
        font-size: 1.2rem;
    }

    .msgText {
        font-size: 1rem;
        margin: 0.25rem 0 1rem 0;
    }

    .msgIcon {
        font-size: 2.5rem;
    }

    #trend-div {
        padding: 1rem;
    }
}